{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aside</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>
  <div>
    <section class="all">
    <div class="main_right">
        <div class="posting_popular">
          <div class="p_contentbox">
          <p class="title_2">실시간 인기 글</p>
          </div>
          <div class="p_contentbox">
          <p class="title_3">제목</p>
          <p class="content_1">내용내용내용내용</p>
          <div class="icon-bar">
            <p>비밀게시판</p>
            <div class="vote-icon">
            <img class="icon" src="{% static 'img/container.articles.vote.png' %}" alt="좋아요">
            <p class="vote-number">3</p>
            </div>
            <div class="comment-icon">
            <img class="icon" src="{% static 'img/container.articles.comment.png' %}" alt="댓글">
            <p class="comment-number">0</p>
            </div>
            </div>
        </div>
        <div class="p_contentbox">
          <p class="title_3">제목</p>
          <p class="content_1">내용내용내용내용</p>
          <div class="icon-bar">
            <p>비밀게시판</p>
            <div class="vote-icon">
            <img class="icon" src="{% static 'img/container.articles.vote.png' %}" alt="좋아요">
            <p class="vote-number">3</p>
            </div>
            <div class="comment-icon">
            <img class="icon" src="{% static 'img/container.articles.comment.png' %}" alt="댓글">
            <p class="comment-number">0</p>
            </div>
            </div>
        </div>
      </div>
        <div class="posting_hot">
          <div class="hot1">
          <p class="title_2">HOT 게시물</p>
          <p class="time">더 보기</p>
        </div>
          
          <div class="hot1">
          <p class="content_2">제목</p>
          <p class="time">13분 전</p>
          </div>
          
          <div class="hot1">
          <p class="content_2">제목</p>
          <p class="time">3/31 16:45</p>
          </div>
          
          <div class="hot1">
          <p class="content_2">제목</p>
          <p class="time">3/27 11:05</p>
          </div>
        </div>
      </div>
  </section>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
