{% extends 'post/base.html' %}
{% load static %}
{% block body %}
<section>
    <div class="side">
        <div class="side_title">
            <p>HOT 게시물</p>
            <a href="" class="more_content">더 보기</a>
        </div>
        <a href="">
            <div class="hot_post">
                <p class="hot_post_content">본문입니다</p>
                <div class="hot_post_detail">
                    15분 전
                </div>
            </div>
        </a>
        <a href="">
            <div class="hot_post last">
                <p class="hot_post_content">본문입니다</p>
                <div class="hot_post_detail">
                    03/24 01:23
                </div>
            </div>
        </a>
        <div class="side_title last">
            <p>BEST 게시판</p>
            <a href="" class="more_content">더 보기</a>
        </div>
        <div class="side_title">
            <p>학교 소식</p>
        </div>
        <a href="">
            <div class="side_post">
                <h3>제목입니다</h3>
                <p class="side_post_content">본문입니다</p>
                <div class="side_post_detail">
                    <p style="font-size: 11px;">총학생회</p>
                    <img src="{% static 'img/좋아요.png' %}" alt="좋아요" width="11" height="11" id="good"> <span
                        style="color: red;">25</span>
                    <img src="{% static 'img/댓글.png' %}" alt="댓글" width="11" height="11"> <span
                        style="color: rgb(94, 207, 210);">45</span>
                </div>
            </div>
        </a>
        <a href="">
            <div class="side_post last">
                <h3>제목입니다</h3>
                <p class="side_post_content">본문입니다</p>
                <div class="side_post_detail">
                    <p style="font-size: 11px;">대학일자리본부</p>
                    <img src="{% static 'img/좋아요.png' %}" alt="좋아요" width="11" height="11" id="good"> <span
                        style="color: red;">25</span>
                    <img src="{% static 'img/댓글.png' %}" alt="댓글" width="11" height="11"> <span
                        style="color: rgb(94, 207, 210);">45</span>
                </div>
            </div>
        </a>
        <div class="side_title">
            <p>최근 강의평</p>
            <a href="" class="more_content">더 보기</a>
        </div>
        <a href="">
            <div class="side_post">
                <div class="star">
                    <img src="{% static 'img/별.png' %}" alt="별" width="60" height="12">
                </div>
                <h3>강의명</h3>
                <p class="side_post_content review" style="margin-bottom: 0;">후기입니다</p>
            </div>
        </a>
        <a href="">
            <div class="side_post last">
                <div class="star">
                    <img src="{% static 'img/별.png' %}" alt="별" width="60" height="12">
                </div>
                <h3>강의명</h3>
                <p class="side_post_content review" style="margin-bottom: 0;">후기입니다</p>
            </div>
        </a>
    </div>
</section>
</div>
{% endblock %}