{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/style_post.css' %}"></link>
  <link rel="stylesheet" href="{% static '/css/style.css' %}"></link>
  
  <title>내가 작성한 글</title>
</head>
<body>
  <a href="{% url 'post:home' %}">
    <div class="logo">
    <img src="{% static 'img/logo.png'%}" alt="logo" style="width: 200px; display: flex;"></a></div>
    <!-- 백엔드 코드입니다 -->
  <div>
    {% include 'post/menu.html' %}
    {% load humanize %}
    {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}"><img src="{% static 'img/chat.png' %}" alt="감자" /></a>
    <a href="{% url 'accounts:mypage' %}"><img src="{% static 'img/chat.png' %}" alt="토마토" /></a>
    {% else %}
    <a href="{% url 'accounts:signup' %}"><img src="{% static 'img/chat.png' %}" alt="회원가입" style="float: right; display: flex; margin-left: 5px; width:50px;" /></a>
    <a href="{% url 'accounts:login' %}"><img src="{% static 'img/person.png' %}" alt="로그인" style="float: right; display: flex; width: 50px; " /></a>
    {% endif %}
    {% include '/Users/choeyun-yeong/Desktop/likelion/Everytime/everytime/accounts/templates/accounts/nav.html'%}
    {% include '/Users/choeyun-yeong/Desktop/likelion/Everytime/everytime/accounts/templates/accounts/aside.html'%}
  </div>
  {% include '/Users/choeyun-yeong/Desktop/likelion/Everytime/everytime/accounts/templates/accounts/list.html'%}
<div id="container">
  {% if posts.exists %}
  {% for post in posts %}
    <div id="container">
      <article class="list">
        <div class="imgflex">
          <div class="article">
            <a class="post-title" href="{% url 'post:detail' post.pk %}">
              {{ post.title }}
            </a><br>
            <p class="post-content">{{ post.content }}</p>
            <p class="post-stats">
            </p>
            <div class="slist">
              <ul class="likeAndReply">
                <li style="color: #f91f15"><img alt="공감" src="{% static 'img/like.png'%}"/>{{ post.posts.all.count }}</li>
                <li style="color: #7bd8d4"><img alt="reply" src="{% static 'img/reply.png'%}"/>{{ post.post_like.all.count }}</li>
                <li class="post-time" style="margin-left: 10px;">| {{ post.created_at|naturaltime }} | 익명</li>
              </ul>
            </div>
          </div>
          <div class="preview">
            <img src="{% static 'img/preview.png' %}">
          </div>
        </div>
      </article>
    </div>
    <hr>
  {% endfor %}
  <br>
{% else %}
  <h1>글이 없습니다.</h1>
{% endif %}
  </div>
  <script src="{% static 'js/main.js'%}"></script>
</body>
</html>
