{% extends 'post/base.html' %} {% load static %} {% block title %} 에브리타임 {% endblock %}
<!------------>
{% block style %}<link rel="stylesheet" href="{% static 'css/detail.css' %}" />{% endblock %}
<!------------>
{% block body %} {% include "post/nav.html" %}

<div id="container" class="article">
  <div class="wrap title">
    <h1>{{category.title}}</h1>
  </div>

  <div class="wrap articles">
    <article class="item">
      <a class="article">
        <img src="https://cf-fpi.everytime.kr/0.png" class="picture large" />
        <div class="profile">
          {% if post.anonymity %}
          <h3 class="large">익명</h3>
          {% else %}
          <h3>{{ post.user.username }}</h3>
          {% endif %}
          <time class="large">{{ post.created_at }}</time>
        </div>
        <ul class="status">
          <li class="messagesend">쪽지</li>
          <li class="abuse">신고</li>
        </ul>

        <hr />
        <h2 class="large">{{ post.title }}</h2>
        <p class="large">{{ post.content }}</p>
        <ul class="status left">
          <li title="공감" class="vote">{{ post.post_like.all.count }}</li>
          <li title="댓글" class="comment">{{ comment_count }}</li>
          <li title="스크랩" class="scrap">{{ post.scrap_users.count }}</li>
        </ul>
        <hr />

        <div class="buttons">
          <form action="{% url 'post:post_like' post.id %}" class="like" method="post">
            {% csrf_token %}
            <button type="submit" class="like">공감</button>
          </form>

          <form action="{% url 'post:post_scrap' post.id %}" class="scrap" method="post">
            {% csrf_token %}
            <button type="submit" class="scrap">스크랩</button>
          </form>
        </div>
      </a>

      <!-- 댓글 -->
      <div class="comments" style="display: block">
        {% if comments %} {% for comment in comments %}
        <article class="parent">
          <img src="https://cf-fpi.everytime.kr/0.png" class="picture medium" />
          <h3 class="medium">{% if comment.anonymity %} 익명 {% else %} {{ comment.user }} {% endif %}</h3>
          <ul class="status">
            {% if request.user == comment.user %}
            <li class="delete"><a href="{% url 'post:com_delete' post_id=post.id com_id=comment.id %}">삭제하기</a></li>
            {% else %}
            <li class="childcomment">대댓글</li>
            <li class="commentvote">공감</li>
            <li class="messagesend">쪽지</li>
            <li class="abuse">신고</li>
            {% endif %}
          </ul>
          <hr />
          <p class="large">{{ comment.content }}</p>
          <time class="medium">{{ comment.created_at }}</time>
          <ul class="status commentvotestatus">
            <li class="vote commentvote" style="display: none">0</li>
          </ul>
        </article>
        {% endfor %} {% endif %}

        <!-- 댓글 입력창 -->
        <form class="writecomment" action="{% url 'post:com_create' post.id %}" method="POST">
          {% csrf_token %}
          <input
            type="text"
            name="content"
            maxlength="300"
            autocomplete="off"
            placeholder="댓글을 입력하세요."
            class="text"
          />
          <ul class="option">
            <li title="익명" class="anonym" onclick="toggleAnonymity()"></li>
            <li title="완료" class="submit" onclick="submitForm(this.closest('form'))"></li>
          </ul>
          <input type="hidden" name="anonymity" id="anonymityCheckbox" value="false" />
        </form>
      </div>
    </article>

    <div class="clearBothOnly"></div>
    <div class="pagination">
      <form id="searchArticleForm" class="search">
        <select name="search_type">
          <option value="4">전체</option>
          <option value="3">닉네임</option>
          <option value="2">제목</option>
          <option value="1">본문</option>
        </select>
        <input name="keyword" placeholder="검색어를 입력하세요." class="text" />
      </form>
      <a href="/255745/p/2" class="next">다음</a>
    </div>
    <hr />
  </div>
</div>

<footer id="bottom">
  <ul class="links">
    <li><a href="/page/serviceagreement">이용약관</a></li>
    <li class="privacy"><a href="/page/privacy">개인정보처리방침</a></li>
    <li><a href="/page/youthpolicy">청소년보호정책</a></li>
    <li><a href="/page/rules">커뮤니티이용규칙</a></li>
    <li><a href="/notice">공지사항</a></li>
    <li><a href="/page/faq">문의하기</a></li>
    <li class="copyright"><a href="/">© 에브리타임</a></li>
  </ul>
  <span>직업정보제공사업 신고번호 : J1204020230008</span>
</footer>
<script src="{% static 'js/detail.js' %}"></script>
{% endblock %}
