{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
  </head>
  <body>
    <section class="all">
      <div class="nav">
        <div class="wrap_bar">
          <img src="{% static 'img/aside.title.hamburger.png' %}" alt="메뉴바" />
          <h3>비밀게시판</h3>
        </div>
        <div class="nav_menu">
          <div class="logo_left">
            <img class="logo_img" src="{% static 'img/nav.logo.png' %}" alt="에타로고" />

            <div id="title">
              <p id="everytime">에브리타임</p>
              <p id="duksung">덕성여대</p>
            </div>
          </div>
          <div class="menu">
            <ul>
              <li class="red">게시판</li>
              <li>시간표</li>
              <li>강의실</li>
              <li>학점계산기</li>
              <li>친구</li>
              <li>책방</li>
              <li>캠퍼스픽</li>
            </ul>
          </div>
          <div class="logo_right">
            <img src="{% static 'img/icn_m_chat_gray800_light.png' %}" alt="말풍선" />
            <a href="{% url 'accounts:mypage' %}"><img src="{% static 'img/icn_m_account_gray800_light.png' %}" alt="말풍선" /></a>
          </div>
        </div>
      </div>
    </section>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
