{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>시작 - 에브리타임</title>
    <link rel="stylesheet" href="{% static 'css/start.css' %}" />
  </head>
  <body>
    <div class="intro">
      <div class="btnSpace">
        <a href="{% url 'post:home' %}">
          <div class="btnLogo">
            <img src="{% static 'img/logo.png' %}" alt="에브리타임 로고" />
          </div>
        </a>
        <div class="btnS">
          {% if request.user.is_authenticated %}
          <button class="loginBtn">
            <a href="{% url 'accounts:mypage' %}"> 마이페이지 </a>
          </button>

          <button class="signupBtn">{% include "post/menu.html" %}</button>
          <button class="toMainBtn">
            <a href="{% url 'accounts:write_list' %}"> 내가 작성한 글 </a>
          </button>
          <button class="toMainBtn">
            <a href="{% url 'accounts:scrap_list' %}"> 내가 스크랩한 글 </a>
          </button>

          {% else %}
          <button class="loginBtn">
            <a href="{% url 'accounts:login' %}"> 로그인 </a>
          </button>
          <button class="signupBtn">
            <a href="{% url 'accounts:signup' %}"> 에브리타임 회원가입 </a>
          </button>
          <button class="loginBtn">{% include "post/menu.html" %}</button>
          {% endif %}
        </div>
      </div>
      <div class="contentSpace">
        <img src="{% static 'img/start_img.png' %}" alt="대문 이미지" />
      </div>
    </div>
  </body>
</html>
