{% extends 'post/base.html' %}{% load static %}{% block title %}시작 - 에브리타임{% endblock%}
<!----------->
{% block style %}<link rel="stylesheet" href="{% static 'css/start.css'%}" />{% endblock %}
<!--------->
{% block body%}
<div class="intro">
  <div class="btnSpace">
    <div class="btnLogo"><img src="{% static 'img/logo.png' %}" alt="에브리타임 로고" /></div>
    <div class="btnS">
      {% load humanize %} {% if request.user.is_authenticated %}
      <button class="logoutBtn"><a href="{% url 'accounts:logout' %}">로그아웃</a></button>
      <button class="toMainBtn"><a href="{% url 'post:category_post_list' slug='gamza' %}">감자게시판</a></button>

      {% else %}
      <button class="loginBtn"><a href="{% url 'accounts:login' %}">로그인</a></button>
      <button class="signupBtn"><a href="{% url 'accounts:signup' %}">에브리타임 회원가입</a></button>
      {% endif %}
    </div>
  </div>
  <div class="contentSpace">
    <img src="{% static 'img/start_img.png'%}" alt="대문 이미지" />
  </div>
</div>
{% endblock %}
