{% extends 'post/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_category.css' %}">

{% block body %}

<nav class="messageboard_bg">
    <div class="messageboard">
        <div class="group">
            <ul>
                <li><a href="https://everytime.kr/255744">자유게시판</a></li>
                <li><a href="https://everytime.kr/255745" style="color: red; font-weight: bold;">비밀게시판</a></li>
                <li><a href="https://everytime.kr/259736">질문게시판</a></li>
                <li><a href="https://everytime.kr/385950">졸업생게시판</a></li>
                <li><a href="https://everytime.kr/369476">새내기게시판</a></li>
                <li><a href="https://everytime.kr/482575">시사∙이슈</a></li>
                <li><a href="https://everytime.kr/258600">정보게시판</a></li>
                <li><a href="https://everytime.kr/367427">홍보게시판</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="https://everytime.kr/418767">동아리∙학회</a></li>
            </ul>
        </div>
        <div class="group">
            <ul>
                <li><a href="https://everytime.kr/386041">취업∙진로</a></li>
                <li><a href="https://everytime.kr/415207">⭐👩🏻‍🏫교직이수👩🏻‍🏫⭐</a></li>
                <li><a href="https://everytime.kr/369263">덕성 예비공무원들♡</a></li>
                <li><a href="https://everytime.kr/413707">대학원 뿌숭뿌슝🔥🔥</a></li>
                <li><a href="https://everytime.kr/416515">미래의 회계사(CPA) …</a></li>
                <li><a href="https://everytime.kr/465392">덕성 로스쿨러들📚</a></li>
            </ul>
        </div>
        <div class="group">
            <ul>
                <li><a href="https://everytime.kr/532598">총학생회</a></li>
                <li><a href="https://everytime.kr/401597">신문사</a></li>
                <li><a href="https://everytime.kr/373349">영자신문사</a></li>
                <li><a href="https://everytime.kr/369668">운현방송국</a></li>
                <li><a href="https://everytime.kr/462040">대학일자리본부</a></li>
                <li><a href="https://everytime.kr/482346">교지편집위원회</a></li>
                <li><a href="https://everytime.kr/536838">동아리연합회</a></li>
                <li class="more"><a href="">더 보기</a></li>
            </ul>
        </div>
        <div class="group">
            <ul>
                <li><a href="https://everytime.kr/409347">📑덕성여대 경영학…</a></li>
                <li><a href="https://everytime.kr/402510">국제통상학과</a></li>
                <li><a href="https://everytime.kr/408012">💰두드리는 회계학과…</a></li>
                <li><a href="https://everytime.kr/532200">👩‍💻디지털소프트웨어…</a></li>
                <li><a href="https://everytime.kr/407689">🌕예대의 밤은 깊어…</a></li>
                <li><a href="https://everytime.kr/408840">프리팜/바이오공학과…</a></li>
                <li><a href="https://everytime.kr/408932">🧠심리학과 자게🧠</a></li>
                <li class="more"><a href="">더 보기</a></li>
            </ul>
        </div>
        <div class="group">
            <ul>
                <li><a href="https://everytime.kr/408932">🌺덕성여대 장터🌺</a></li>
                <li><a href="https://everytime.kr/257788">♡덕성여대 기숙사♡</a></li>
                <li><a href="https://everytime.kr/474573">덕성 연애방</a></li>
                <li><a href="https://everytime.kr/368853">덕성여대 자취생 모임</a></li>
                <li><a href="https://everytime.kr/536755">🌺뻔선뻔후 찾기 프…</a></li>
                <li><a href="https://everytime.kr/526300">주의없는 게시판</a></li>
                <li><a href="https://everytime.kr/392391">퀴어이기 전에 여성</a></li>
                <li><a href="https://everytime.kr/381869">💘덕성 파견학생💘</a></li>
            </ul>
        </div>
        <div class="group">
            <ul>
                <li><a href="https://everytime.kr/375536">덕성여대~수유역 맛…</a></li>
                <li><a href="https://everytime.kr/402206">덕성의 아이돌 ❤</a></li>
                <li><a href="https://everytime.kr/260428">다이어덕</a></li>
                <li><a href="https://everytime.kr/452739">덕성의 국가근로노동자…</a></li>
                <li><a href="https://everytime.kr/260591">덕친소 : 내 덕친은 누…</a></li>
                <li><a href="https://everytime.kr/469445">미팅 모집방</a></li>
                <li><a href="https://everytime.kr/370029">덕성여대 책 거래 장터</a></li>
                <li class="more"><a href="">더 보기</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}