{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Document</title>
</head>

<body>
    <aside>
        <div class="asicate1">실시간 인기 글</div>
        <div class=" popletter">
            <div class="poptitle">신기한 알바하는 덕우 있나</div>
            <div class="popcontent">
                난 파충류샵 알바 <br>
                사진은 맨날 나한테 밥달라고 쳐다보는 애
            </div>

            <div class="infointerest">
                <div class="popboardcate">비밀게시판</div>
                <div class="interest">
                    <div class="good"><img class="goodimg" src="./img/good.png" alt="좋아요"> 71 </div>
                    <div class="comment"><img class="comimg" src="./img/comment.png" alt="댓글"> 39 </div>
                </div>
            </div>
        </div>
        <div class="popletter">
            <div class="poptitle">(장터덕우 찾아요)어제 신촌cgv파묘3인 구매</div>
            <div class="popcontent">
                어제 cgv 파묘 9500 3인 대리예매해주신 서ㅇㅇ님 찾아요<br>
                3월 9일 영화를 예매했는데 같이 구입한 콤보 쿠폰 유효기
            </div>
            <div class="infointerest">
                <div class="popboardcate">비밀게시판</div>
                <div class="interest">
                    <div class="good"><img class="goodimg" src="./img/good.png" alt="좋아요"> 44 </div>
                    <div class="comment"><img class="comimg" src="./img/comment.png" alt="댓글"> 1 </div>
                </div>
            </div>
        </div>


        <div>
            <div class="asi_hottitle">
                <div class="asicate2">HOT 게시물</div>
                <div class="seemore2">더 보기</div>
            </div>
            <div class="asi_hotletter">
                <div class="hotcontent">우와 커피차 우리가 3위야</div>
                <div class="hotinfo">15분 전</div>
            </div>
            <div class="asi_hotletter">
                <div class="hotcontent">모찌네타코야키.. 최고의 타코야키.. ...</div>
                <div class="hotinfo">03/09 16:16</div>
            </div>
            <div class="asi_hotletter">
                <div class="hotcontent">술에 관대한 문화 너무 싫어</div>
                <div class="hotinfo">03/09 20:33</div>
            </div>
        </div>
    </aside>
</body>

</html>