{% load static %} {% block style %} <link rel="stylesheet" href="{% static './css/main.css' %}" /> {% endblock %}
{%block body %}
<!--aside 라인-->

<aside class="aside_all">
  <div class="aside_1">
    <span class="left_blue">HOT 게시물</span>
    <span class="graycolor">더보기</span>
  </div>

  <div class="aside_2">
    <span class="left">떡튀순 1인분 6000원</span>
    <span class="graycolor">04/03 15:40</span>
  </div>

  <div class="aside_3">
    <span class="left">요즘 나만 느끼나</span>
    <span class="graycolor">04/04 01:02</span>
  </div>

  <div class="aside_4">
    <span class="left">지역학 시간에 딴짓 좀 그만하세요</span>
    <span class="graycolor">04/03 12:28</span>
  </div>

  <div class="aside_5">
    <span class="left">🌕[과기대] 과학기술대학 1학년 대상...</span>
    <span class="graycolor">04/03 12:00</span>
  </div>

  <div class="aside_6">
    <span class="left_blue">BEST 게시판</span>
    <span class="graycolor">더보기</span>
  </div>

  <div class="aside_7">
    <p class="left_blue">학교 소식</p>
  </div>

  <div class="aside_8">
    <div class="aside_8_text">
      <p class="left_div_em">🌊덕성과 봄이 만난 순간포착 이벤트🌊</p>
      <p class="graycolor_div">#총학생회_파도</p>
      <p class="graycolor_div">안녕하세요, 덕성여자대학교 제40대 총학생회 파도입니다.</p>
    </div>

    <div class="aside_8_img">
      <span class="graycolor_div_etc">총학생회</span>
      <img class="good" src="{% static "./img/container.articles.vote.png" %}" alt="사진 로딩 중" />
      <span class="redcolor"> 3</span>
      <img class="comment" src="{% static "./img/container.articles.comment.png" %}" alt="사진 로딩 중" />
      <span class="greencolor">0</span>
    </div>
  </div>

  <div class="aside_9">
    <div class="aside_9_text">
      <p class="left_div_em">📘 글로벌융합대학 ICAN 다이어리 여분 배부 진행...</p>
      <p class="graycolor_div">안녕하세요, 제4대 글로벌융합대학 비상대책위원회입니다.</p>
      <p class="graycolor_div">글로벌융합대학 교학부의 협조와 요청을 받아 글로벌융합</p>
    </div>

    <div class="aside_9_img">
      <span class="graycolor_div_etc">글로벌융합대학 학생회</span>
      <img class="good" src="{% static "./img/container.articles.vote.png" %}" alt="사진 로딩 중" />
      <span class="redcolor">12</span>
      <img class="comment" src="{% static "./img/container.articles.comment.png" %}" alt="사진 로딩 중" />
      <span class="greencolor">0</span>
    </div>
  </div>

  <div class="aside_10">
    <span class="left_blue">최근 강의평</span>
    <span class="graycolor">더보기</span>
  </div>

  <div class="aside_11">
    <!--
      <img class="star" src="./img/app.subject.rating.details.star.off.png" alt="사진 로딩 중">-->
    <p class="yellowcolor_star">★★★★★</p>
    <p class="bold">일반생물학 ⌶⌶ : 김태훈</p>
    <p class="graycolor_div">교수님 수업 너무 좋아요!!</p>
    <p class="graycolor_div_11">문제도 막 어렵지 않고 적당한것 같아요</p>
  </div>

  <div class="aside_12">
    <!--<img class="star" src="./img/app.subject.rating.details.star.off.png" alt="사진 로딩 중">-->
    <span class="yellowcolor_star">★★★★</span>
    <span class="lightgraycolor_star">★</span>
    <p class="bold">나의진로나의꿈 : 손재현,최주아</p>
    <p class="graycolor_div">유익하고 들을만합니다</p>
    <p class="graycolor_div">녹강임에도 기간도 충분하여 충분히 패스받으실 수 있습니</p>
  </div>

  <div class="aside_13">
    <!--<img class="star" src="./img/app.subject.rating.details.star.off.png" alt="사진 로딩 중">-->
    <span class="yellowcolor_star">★★★★★</span>
    <p class="bold">일본명ß작선독 : 이상경</p>
  </div>
</aside>
{% endblock body %}
