{% extends 'base.html' %}{% load static %}{% block title %}header page{%endblock%} {% block body %}
<nav>
  <div class="wrap">
    <div id="logo">
      <img src="img/logo.png" alt="에브리타임로고" />
    </div>
  </div>
  <div id="account">
    <img src="img/chat.png" alt="쪽지함" />
    <img src="img/person.png" alt="쪽지함" />
  </div>
  <div class="mobile-menu-toggle">
    <img src="img/aside.title.hamburger.png" alt="햄버거" />
    <p>비밀게시판</p>
  </div>
  <ul id="menu">
    <li>게시판</li>
    <li>시간표</li>
    <li>강의실</li>
    <li>학점 계산기</li>
    <li>친구</li>
    <li>책방</li>
    <li>캠퍼스픽</li>
  </ul>
</nav>
