{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="./img/etalogo.png" alt="에브리타임 로고" width=40 height=40>
            <div class="appname">
                <div class="everytime">에브리타임</div>
                <div class="schname">덕성여대</div>
            </div>
        </div>
        <div class="headhid">
            <ul class="bigcate" style="list-style:none">
                <li class="check">게시판</li>
                <li>시간표</li>
                <li>강의실</li>
                <li>학점계산기</li>
                <li>친구</li>
                <li>책방</li>
                <li>캠퍼스픽</li>
            </ul>
            <div class="anofunc">
                <img class="eachfunc" src="./img/chat.png" alt="comment" width=25 height=25>
                <img class="eachfunc" src="./img/person.png" alt="person" width=25 height=25>
            </div>

            <div class="sm_header">
                <div class="smh1"><img src="./img/listbar.png" width=25 height=25></div>
                <div class="smh2">덕성여대 에브리타임</div>
                <div class="smh3">글 검색</div>
            </div>
        </div>
    </header>
</body>

</html>