{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
    <title>에브리타임 로그인</title>
  </head>
  <body>
    <form class="login-form">
      {% csrf_token %}
      <img src="{% static 'img/logo.png' %}" alt="로고" />
      <div class="input-section">
        <input type="text" id="id_username" placeholder="아이디" />
      </div>
      <div class="input-section">
        <input type="password" id="id_password" placeholder="비밀번호" />
      </div>
      <div class="login">
        <button type="submit" id="submitButton">에브리타임 로그인</button>
      </div>
    </form>
    <div class="signup">
      <a href="{% url 'accounts:signup' %]}">회원가입</a>
    </div>
    <div class="additional-links">
      <div class="text-g">이용약관</div>
      <div class="text">개인정보처리방침</div>
      <div class="text-g">문의하기</div>
      <div class="text">ⓒ에브리타임</div>
    </div>
    <script src="{% static 'js/login.js'%}"></script>
  </body>
</html>