{%load static %}
<div class="rightside">
  <div class="card">
    <div class="board">
      <h3>HOT 게시물</h3>
      <div class="list">
        <time>03/29 21:05</time>
        <p>일락 김치찌개 7천원</p>
      </div>
      <div class="list">
        <time>15분 전</time>
        <p>우와 커피차 우리가 3위야</p>
      </div>
      <div class="list">
        <time>03/09 16:16</time>
        <p>모찌네 타코야끼.. 최고의 타코야끼.. ...</p>
      </div>
      <div class="list">
        <time>03/09 20:33</time>
        <p>술에 관대한 문화 너무 싫어</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="board">
      <h3>실시간 인기글</h3>
      <div id="article">
        <div class="title">신기한 알바하는 덕우 있나</div>
        <p>난 파충류샵 알바</p>
        <p>사진은 맨날 나한테 밥달라고 쳐다보는 애</p>
        <div class="content">
          <br />
          <h4>비밀게시판</h4>
          <ul class="likeAndReply">
            <li><img alt="공감" src="{% static 'img/like.png' %}" />71</li>
            <li><img alt="reply" src="{% static 'img/reply.png' %}" />0</li>
          </ul>
        </div>
      </div>
      <div id="article">
        <div class="title">(장터덕우 찾아요)어제 신촌 cgv파묘3인 구매</div>
        <p>어제 cgv 파묘 9500 3인 대리예매해주신 서OO님 찾아요</p>
        <p>3월 9일 영화를 예매했는데 같이 구입한 콤보 쿠폰 유효기간</p>
        <div class="content">
          <br />
          <h4>비밀게시판</h4>
          <ul class="likeAndReply">
            <li><img alt="공감" src="{% static 'img/like.png' %}" />71</li>
            <li><img alt="reply" src="{% static 'img/reply.png' %}" />13</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="board">
      <h3>학교 소식</h3>
      <div id="article">
        <div class="title">🌕[과기대]온달 소리함🌕</div>
        <p>안녕하세요. 제4대 과학기술대학 학생회 <온달>입니다.</p>
        <p>과학기술대학 학우들의 편리하고 즐거운 학교생활을 위해 행사 의견</p>
        <div class="content">
          <br />
          <h4>과학기술대학 학생회</h4>
          <ul class="likeAndReply">
            <li><img alt="공감" src="{%static 'img/like.png' %}" />5</li>
            <li><img alt="reply" src="{% static 'img/reply.png'%}" />0</li>
          </ul>
        </div>
      </div>
      <div id="article">
        <div class="title">📄직무적성검사(대기업) 특강📄</div>
        <p>덕성여대 학우분들의 원활한 취업준비와 사회진출을 위하여 직무적성</p>
        <p>검사를 비대면 특강으로 진행합니다.</p>
        <div class="content">
          <br />
          <h4>대학일자리본부</h4>
          <ul class="likeAndReply">
            <li><img alt="공감" src="{% static 'img/like.png' %}" />9</li>
            <li><img alt="reply" src="{% static 'img/reply.png'%}" />0</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
