{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_signup.css'%}"></link>
    <title>회원가입</title>
</head>


<body>
    <form class="container">
        <section class="content_section">
        <h2>에브리타임 회원가입</h2>
        <p>에브리타임 계정으로 <strong>캠퍼스픽, 에브리타임</strong> 등 <br>다양한 대학생 서비스를 모두 이용하실 수 있습니다.</p>
        <form>
          {% csrf_token %}
          {{ form.as_p }}
            <a href = "{% url 'accounts:login' %}">
            <input id="submit" type="submit" value="회원가입"></a>
            </div>
        </form>
        </section>
    </form>
    <script src="{% static './js/signup.js' %}"></script>
</body>
</html>

